.about {
  position: relative;

  &---sedona {
    padding-top: 42px;
    padding-bottom: 49px;
  }

  &--mask::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 38px;
    left: 0;
    bottom: -38px;
    background: url(../img/bg-triangle.svg) no-repeat;
    background-size: cover;
  }
}

.about__title {
  margin: 0 auto;
  margin-bottom: 40px;

  &--sedona {
    width: 85%;
    padding-top: 40px;
    margin-bottom: 25px;
  }

  &--photo {
    padding-top: 40px;
  }

  &--big {
    padding-top: 32px;
  }

  &--form {
    padding-top: 0;
  }
}

.about__container {
  padding-top: 35px;
  padding-bottom: 48px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.about__text {
  margin: 0 auto;
  color: @black-70;

  &--reasons {
    width: 78%;
    padding-top: 3px;
    line-height: 26px;
    margin-bottom: 6px;
  }

  &--btn {
    margin: 0;
    margin-bottom: 40px;
    line-height: 21px;
  }

  &--photo {
    width: 85%;
    padding-bottom: 29px;
    margin-top: -13px;
    padding-left: 7px;
    line-height: 23px;
  }

  &--position {
    padding-left: 43px;
    padding-bottom: 37px;
    margin-top: -15px;
    line-height: 24px;
  }

  &--form {
    width: 86%;
    margin-top: -14px;
    line-height: 24px;
  }
}

.about__button {
  display: inline-block;
}

.about__form {
  padding-top: 40px;
}

.about__map {
  position: relative;
}

.about__map svg {
  position: absolute;
  padding-left: 145px;
  padding-top: 165px;
}

@media (min-width: @tablet-width) {
  .about--sedona {
    padding-top: 8px;
    margin-bottom: 49px;
  }

  .about__mask {
    display: none;
  }

  .about__container {
    margin: 0;
    padding-top: 67px;
    padding-bottom: 57px;
  }

  .about__title {
    &--sedona {
      margin: 0 auto;
      width: 80%;
      padding-bottom: 26px;
    }

    &--form {
      padding-top: 36px;
    }
  }

  .about--btn {
    margin: 0 auto;
    text-align: center;
  }

  .about__form {
    padding-bottom: 0;
  }

  .about__title {
    &--big {
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      line-height: 26px;
      padding-top: 3px;
      margin-bottom: 32px;
    }

    &--photo {
      margin: 0;
      font-size: 30px;
      line-height: 26px;
      padding-top: 75px;
    }

    &--form {
      margin: 0;
      font-size: 30px;
      line-height: 26px;
      padding-top: 34px;
      margin-bottom: 32px;
    }
  }

  .about__text {
    &--btn {
      margin: 0 auto;
      width: 397px;
      padding-left: 38px;
      margin-bottom: 44px;
    }

    &--photo {
      margin: 0 auto;
      width: 57%;
      margin-top: 32px;
      padding-bottom: 5px;
      padding-left: 79px;
    }

    &--form {
      margin: 0 auto;
      width: 57%;
      border-bottom: none;
    }

    &--reasons {
      padding-left: 110px;
    }

    &--position {
      margin: 0 auto;
      width: 50%;
      margin-bottom: -3px;
      padding-bottom: 0;
    }
  }

  .about__map svg {
    padding-left: 371px;
    padding-top: 163px;
  }
}

@media (min-width: @desktop-width) {
  .about__container {
    padding-top: 62px;
    padding-bottom: 66px;
  }

  .about__form {
    padding-bottom: 0;
  }

  .about__title {
    margin: 0 auto;
    padding-bottom: 39px;

    &--sedona {
      margin: 0 auto;
      padding: 0;
      max-width: 442px;
      width: 50%;
      padding-top: 41px;
      padding-left: -12px;
      margin-bottom: 24px;
    }

    &--big {
      text-align: center;
      margin-bottom: 30px;
      padding: 0;
    }

    &--photo {
      padding-top: 112px;
      margin-bottom: -6px;;
    }

    &--form {
      padding-top: 72px;
    }
  }

  .about__text {
    &--reasons {
      margin: 0 auto;
      padding-bottom: 3px;
      width: 602px;
    }

    &--btn {
      width: 396px;
      margin-bottom: 49px;
    }

    &--photo {
      margin: 0 auto;
      width: 36%;
      padding-left: 74px;
    }

    &--position {
      width: 38%;
      margin-bottom: -4px;
    }

    &--form {
      margin: 0 auto;
      width: 37%;
      border-bottom: none;
    }
  }

  .about__map svg {
    padding-left: 587px;
    padding-top: 160px;
  }
}
