.attractions {
  .clear-ul;
  text-align: center;
  margin: 0 auto;
}

.attractions--wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: @gray-120;
}

.attractions__item {
  padding-top: 43px;
}

.attractions__title {
  color: @black-100;
  margin: 0;
}

.attractions__number {
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  color: @black-100;
}

.edge__desc {
  padding-bottom: 43px;
  margin: 0;
  width: 75%;
  padding-left: 25px;
  color: @black-100;
}

@media (min-width: @tablet-width) {
  .attractions {
    min-width: 255px;
    /* Временно для сетки*/
    min-height: 257px;
  }

  .attractions__item {
    flex-basis: 33.33%;
    text-align: center;
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .attractions {
    min-width: 400px;
    padding: 0;
  }
}
