.attractions {
  .clear-ul;
  text-align: center;
  padding-bottom: 30px;
}

.attractions--wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: @gray-120;
}

.attractions__item {
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 1px solid @gray-80;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.attractions__title {
  color: @black-100;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 9px;
}

.attractions__number {
  margin: 0;
  display: block;
  padding-bottom: 14px;
  padding-left: 0;
  margin-top: 3px;
  color: @black-100;
}

.attractions__desc {
  margin: 0 auto;
  width: 77%;
  color: @black-70;

  &:last-child {
    border-bottom: none;
    padding-bottom: 1px;
  }
}

@media (min-width: @tablet-width) {
  .attractions--wrapper {
    padding: 0;
  }

  .attractions__item {
    flex-basis: 33.33%;
    text-align: center;
    padding-left: 0;
    border-bottom: none;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .attractions__title {
    margin: 0 auto;
    width: 60%;
  }

  .attractions__number {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
    margin-top: 10px;
  }

  .attractions__desc {
    margin: 0 auto;
    width: 68%;

    &--position {
      margin: 0 auto;
      width: 55%;
    }
  }
}

@media (min-width: @desktop-width) {
  .attractions__title {
    margin: 0 auto;
    width: 35%;
    padding-top: 9px;
  }

  .attractions__item {
    padding-bottom: 62px;
    padding-top: 36px;
  }

  .attractions__number {
    margin-top: 10px;
  }

  .attractions__desc {
    margin: 0 auto;
    width: 75%;

    &--position {
      margin: 0 auto;
      width: 65%;
    }
  }
}
