.btn {
  .about__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 47px;
  padding-right: 48px;
  cursor: pointer;
  }
}
