.edge {
  background-color: @blue-50;
  text-align: center;
  cursor: default;
  color: @white;
  padding-bottom: 40px;
}

.edge__title {
  color: @white;
  margin: 0;
  padding-top: 43px;
}

.edge__number {
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  color: @white;
}

.edge__desc {
  color: @white;
  margin: 0;
}
