.edge {
  background-color: @blue-50;
  text-align: center;
  cursor: default;
  color: @white;
  padding-top: 45px;
  padding-bottom: 45px;
}

.edge__title {
  color: @white;
  margin: 0;
}

.edge__number {
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  color: @white;
}

.edge__desc {
  color: @white;
  margin: 0 auto;
  width: 86%;

  &--whidth {
    margin: 0 auto;
    width: 67%;
  }
}

@media (min-width: @tablet-width) {
  .edge {
    padding-top: 45px;
    padding-bottom: 48;
  }

  .edge--order {
    order: 1;
  }

  .edge__desc {
    color: @white;
    margin: 0 auto;
    width: 46%;
  }
}

@media (min-width: @desktop-width) {
  .edge {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}
