.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 20px;

  &--photo {
    padding-top: 24px;
  }
}

.page-footer__hashtag {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  cursor: default;
  padding-bottom: 34px;

  &--photo {
    padding-top: 78px;
  }

  &--form {
    padding-top: 36px;
    padding-bottom: 34px;
  }
}

.page-footer__copyright {
  cursor: default;

  &:hover svg {
    fill: @blue-50;
  }

  &:active svg {
    fill: @gray-100;
  }
}

.page-footer__social {
  margin-bottom: 37px;
}

.page-footer__text {
  font-weight: 400;
}

.page-footer__logo {
  margin-left: 7px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 60px;
    padding-top: 23px;
    padding-bottom: 42px;

    &--photo {
      padding-top: 32px;
    }

    &--form {
      padding-top: 43px;
    }
  }

  .page-footer__hashtag {
    margin: 0;
    padding-top: 18px;

    &--position {
      padding-top: 58px;
      padding-bottom: 45px;
    }

    &--form {
      padding-top: 59px;
      padding-left: 2px;
      padding-bottom: 44px;
    }
  }

  .page-footer__social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 22px;
    margin-left: 112px;
    padding-bottom: 6px;

    &--index {
      padding-top: 6px;
      margin-left: 113px;
      }

      &--form {
        margin-left: 111px;
        padding-bottom: 0;
      }
    }

  .page-footer__copyright {
    display: flex;
    align-items: center;
    cursor: default;
    padding-bottom: 9px;

    &--photo {
      margin-top: 21px;
      padding-right: 2px;
    }

    &--form {
      margin-top: 28px;
      margin-right: 2px;
    }
  }

  .page-footer__logo {
    display: inline-block;
    vertical-align: middle;
    padding-top: 7px;
    margin-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 0 120px;
    padding-top: 83px;
    padding-bottom: 23px;

    &--form {
      padding-top: 66px;
      padding-left: 117px;
    }
  }

  .page-footer__hashtag {
    padding-top: 20px;

    &--position {
      padding-top: 48px;
    }

    &--form {
      padding-top: 44px;
    }
  }

  .page-footer__social {
    margin-left: 269px;
    margin-top: 15px;

    &--form {
      margin-bottom: 11px;
      }
    }

  .page-footer__logo {
    margin-left: 11px;
  }

  .page-footer__copyright {
    margin-bottom: 3px;

    &--photo {
      margin-top: 13px;
      padding-right: 0;
      margin-bottom: 0;
    }

    &--form {
      margin-top: 11px;
      margin-right: 0;
    }
  }
}
