.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -29px;
  height: 84px;
  z-index: 1;
}

.page-header__logo-image {
  width: 105px;
  height: auto;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    position: absolute;
    left: 49%;
    top: 0;
    margin-left: 7px;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin-left: 10px;
  }

  .page-header__logo-image {
    height: 99px;
    width: 188px;
  }
}
