.page-footer {
  margin: 0;
  /* Временно для сетки*/
  min-height: 240px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__hashtag {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  cursor: default;
  padding-top: 75px;
  padding-bottom: 40px;
  margin: 0;

  &--index {
    padding-top: 40px;
  }

  &--photo {
    padding-top: 78px;
  }
}

.page-footer__copyright {
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 22px;
  cursor: default;

  &:hover svg {
    fill: @blue-50;
  }

  &:active svg {
    fill: @gray-100;
  }
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__text {
  font-weight: 400;
}

.page-footer__logo {
  margin-left: 18px;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin: 0 auto;
  }

  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 60px;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    padding-left: 6px;
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
    cursor: default;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin: 0 auto;
    /* Временно для сетки*/
    min-height: 120px;
  }

  .page-footer__wrapper {
    padding: 0 120px;
  }
}
