.reason__list {
  .clear-ul;
  width: 100%;
}

.reason__item {
  text-align: center;
  width: 100%;
  cursor: default;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.reason__image {
  width: 320px;
  min-height: 261px;
}

@media (min-width: @tablet-width) {
  .reason__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .reason__image {
    width: 100%;
    min-height: 255px;
  }
}

@media (min-width: @desktop-width) {
  .reason__image {
    min-height: 257px;
  }
}
