.reason__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reason__ltem {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding-top: 33px;
  padding-bottom: 32px;
  cursor: default;
}
