.social {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

    &__item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;

    &:last-child {
    margin: 0;
    }
  }
}
