.town-edge {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 37px;

  &--wrapper {
    .padding();
  }
}

.town-edge__title {
  padding-top: 35px;
}

.town-edge__desc {
  margin: 0;
  padding-top: 35px;
}
