.video {
  position: relative;
}

.video__clip {
  position: relative;
}

.video__box {
  padding-left: 20px;
}

.video__controls {
  position: absolute;
  background-color: @black-60;
  width: 280px;
  height: 46px;
  bottom: 67px;
}

.video__scale {
  position: absolute;
  bottom: 20px;
  left: 22px;
  height: 3px;
  width: 237px;
  background-color: @gray-30;
}

.video__range-toggle {
  position: absolute;
  bottom: 16px;
  left: 57px;
  width: 3px;
  height: 3px;
  background-color: @white;
  border: 4px solid @white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0  @black-20;
  cursor: pointer;
}

.video__buttons {
  display: flex;
  background-color: @gray-50;
  width: 280px;
  height: 67px;
}

.video__btn {
  display: flex;
  border: none;
}

.video__flex {
  display: flex;
  width: 140px;
  height: 67px;
  margin: 0;
  margin-left: auto;
}

.video__replay {
  .icon-video;
  padding-left: 25px;

  &:hover svg {
    fill: @black-70;
  }

  &:active svg {
    fill: @gray-70;
  }
}

.video__fullscreen {
  .icon-video;
  padding-left: 33px;

  &:hover svg {
    fill: @black-70;
  }

  &:active svg {
    fill: @gray-70;
  }
}

.video__subtitles {
  .icon-video;
  padding-left: 26px;

  &:hover svg {
    fill: @black-70;
  }

  &:active svg {
    fill: @gray-70;
  }
}

@media (min-width: @tablet-width) {
  .video {
    padding-left: 60px;
    padding-right: 60px;
  }

  .video__clip {
    top: 75px;
    padding-bottom: 63px;
  }

  .video__controls {
    position: absolute;
    background-color: @black-60;
    width: 648px;
    height: 94px;
    bottom: -7px;
    left: 60px;
  }

  .video__scale {
    position: absolute;
    bottom: 46px;
    left: 93px;
    width: 388px;
  }

  .video__range-toggle {
    position: absolute;
    bottom: 42px;
    left: 204px;
  }

  .video__btn {
    position: absolute;
    top: 222px;
    left: 70px;
  }

  .video__buttons {
    background-color: transparent;
  }

  .video__replay {
    position: absolute;
    top: 291px;
  }

  .video__flex {
    position: absolute;
    top: 494px;
    left: 550px;
    margin: 0;
    margin-left: auto;
  }

  .video__box svg {
    fill: @white;

    &:hover svg {
      fill: @gray-65;
    }

    &:active svg {
      fill: @gray-75;
    }
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding-left: 200px;
    padding-right: 200px;
  }

  .video__clip {
    position: relative;
    top: 71px;
  }

  .video__controls {
    position: absolute;
    background-color: @black-60;
    width: 800px;
    height: 94px;
    top: 477px;
    left: 200px;
  }

  .video__btn {
    position: absolute;
    top: 151px;
    left: 70px;
  }

  .video__replay {
    position: absolute;
    top: 361px;
    left: 140px;
  }

  .video__scale {
    position: absolute;
    left: 94px;
    width: 538px;
  }

  .video__range-toggle {
    position: absolute;
    bottom: 41px;
    left: 203px;
  }

  .video__buttons {
    background-color: transparent;
  }

  .video__flex {
    position: absolute;
    top: 492px;
    right: 218px;
    margin: 0;
    margin-left: auto;
  }
}
