.welcome--index {
  background: @blue-25 url("../img/bg-back-mobile@2x.jpg") no-repeat -647px -100px;
  padding-top: 87px;
  padding-bottom: 90px;
  padding-left: 45px;
  padding-right: 45px;
}

.welcome--photo {
  background: @blue-25 url("../img/bg-back-mobile@2x.jpg") no-repeat -227px -225px;
  padding-top: 52px;
  padding-bottom: 60px;
  padding-left: 45px;
  padding-right: 45px;
}

.welcome__text {
  margin: 0 auto;

  &--index {
    margin: 0 auto;
    width: 300px;
    height: 218px;
  }

  &--sedona {
    margin: 0 auto;
    width: 229px;
    min-height: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}

@media (min-width: @tablet-width) {
  .welcome--index {
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg") no-repeat -229px -255px;
      width: auto;
      margin: 0;
  }

  .welcome--photo {
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg") no-repeat -227px -225px;
  }

  .welcome--photo {
    min-height: 346px;
  }


  .welcome__text {
    width: 461px;
    /* Временно для сетки */
    min-height: 355px;

    &--sedona {
      margin: 0 auto;
      width: 460px;
      /* Временно для сетки */
      min-height: 78px;
    }
  }
}

@media (min-width: @desktop-width) {
  .welcome--index {
    width: auto;
    margin: 0;
    min-height: 520px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg") no-repeat -227px -225px;
    }
  }

  .welcome--photo {
    /* Временно для сетки */
    min-height: 300px;
  }

  .welcome__text {
    width: 463px;
    /* Временно для сетки */
    min-height: 355px;

    &--sedona {
      margin: 0 auto;
      width: 464px;
      /* Временно для сетки */
      min-height: 78px;
    }
  }
}
