.welcome {
  position: relative;
}

.welcome--index {
  background: @blue-25 url("../img/bg-back-mobile@1x.jpg") no-repeat 0 0;
  background-size: 793px auto;
  padding-top: 84px;
  padding-bottom: 90px;
  padding-left: 45px;
  padding-right: 45px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat -259px 0;
    padding-top: 87px;
    background-size: 793px auto;
  }
}

.welcome--mask::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 27px;
  left: 0;
  bottom: 0;
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat;
  background-size: cover;
}

.welcome--photo {
  background: @blue-25 url("../img/bg-back-mobile@1x.jpg") no-repeat -230px -225px;
  padding-top: 52px;
  padding-bottom: 60px;
  padding-left: 45px;
  padding-right: 45px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 793px auto;
  }
}

.welcome__text {
  margin: 0 auto;

  &--index {
    margin: 0 auto;
    width: 320px;
    height: 218px;
  }

  &--sedona {
    margin: 0 auto;
    width: 229px;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}

@media (min-width: @tablet-width) {

  .welcome--index {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat 0 0;
      background-size: 863px auto;
      width: auto;
      margin: 0;
    }
  }

  .welcome--mask::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0;
    bottom: 0;
    background: url(../img/bg-intro-triangle-tablet.svg) no-repeat;
    background-size: cover;
  }

  .welcome--photo {
    height: 230px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 1px 10px;
    background-size: 1064px auto;
    padding-bottom: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat 0 -415px;
      background-size: 1064px auto;
    }
  }

  .welcome__text {
    width: 461px;
    height: 355px;

    &--sedona {
      padding-top: 33px;
      margin: 0 auto;
      width: 460px;
      height: 78px;
    }
  }
}

@media (min-width: @desktop-width) {
  .welcome--index {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 0 0;
    width: auto;
    margin: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat 0 0;
      background-size: 1278px auto;
    }
  }

  .welcome--photo {
    height: 263px;
    width: auto;
    margin: 0;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 0 -202px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1278px auto;
    }
  }

  .welcome__text {
    width: 463px;
    height: 355px;

    &--sedona {
      height: 78px;
    }
  }

  .welcome--mask::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0;
    bottom: 0;
    background: url(../img/bg-intro-triangle-desktop.svg) no-repeat;
    background-size: cover;
  }
}
