.welcome--index {
  background: @blue-25 url("../img/bg-back-mobile@1x.jpg") no-repeat 50%;
  padding-top: 87px;
  padding-bottom: 90px;
  padding-left: 45px;
  padding-right: 45px;
}

.welcome--photo {
  background: @blue-25 url("../img/bg-back-mobile@1x.jpg") no-repeat 291px -225px;
  padding-top: 52px;
  padding-bottom: 60px;
  padding-left: 45px;
  padding-right: 45px;
}

.welcome__text {
  margin: 0 auto;
  width: 280px;
  min-height: 215px;

  &--sedona {
    margin: 0 auto;
    width: 229px;
    min-height: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}
