body {
  width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: @black-100;
  text-transform: uppercase;
  background-color: @gray-50;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 8px 11px 2px @gray-60;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: 1200px;
  }
}
