.clear-ul () {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon-index() {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-index-table() {
  left: 50%;
  width: 80px;
  height: 80px;
  top: 60px;
  transform: translate(-50, 0);
}

.icon-video() {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.video-button-icon() {
  & svg{
    fill: @black-200;
  }

  &:hover svg {
    fill: @black-70;
  }

  &:active svg {
    fill: @gray-70;
  }
}

.video-button-icons() {
  & svg{
    fill: @white;
  }

  &:hover svg {
    fill: @gray-65;
  }

  &:active svg {
    fill: @gray-75;
  }
}
