@blue-10: #d9e8f1;
@blue-20: #b3d1e4;
@blue-25: #dceaf3;
@blue-30: #9ac2db;
@blue-50: #81b3d2;
@blue-80: #88b6d1;
@blue-100: #94b9d2;
@blue-120: #5496bd;
@blue-150: #669ec0;
@blue-160: #678fa8;

@gray-50: #f2f2f2;
@gray-60: #f2f2f2;
@gray-100: #bdbbbc;
@gray-120: #eee;
@gray-150: #e5e5e5;
@black-200: #5c6870;

@white: #fff;

@black-20: rgba(0, 1, 1, 0.2);
@black-30: rgba(255, 255, 255, 0.3);
@black-50: #494949;
@black-60: rgba(0, 0, 0, 0.6);
@black-100: #000;
